#reset_main{
	width:960px;height:293px;margin:0 auto;
}
#reset_main .img_title,#reset_main .reset_process{
	display: block;
}
#reset_main .img_title{
	margin-top:20px;
}
#reset_main .reset_process{
	margin: 0 auto;margin-top:25px;
}
#reset_main .res_data{
	width:228px;height:160px;margin:0 auto;margin-top:10px;position:relative;
}
#reset_main .tel span{
	color:red;
}
#reset_main .res_data div{
	height:24px;margin-bottom:5px;line-height:24px;
}
#reset_main .res_data p{
	float:left;
}
#reset_main .res_data input{
	float: left;height:20px;
}
#reset_main .complete button{
	height:36px;width:126px;margin-left:50px;background:#5c5c5c;color:white;font-size:16px;
	border:0;margin-top:10px;
}
#reset_main .tips{
	position:absolute;top:30px;left:228px;width:285px;height:53px;
}
