<div id="footer">
			<!--底部帮助栏-->
			
			<!--底部导航-->
			<div class="footer_nav">
				<ul class="f_nav">
					<li><a href="/" rel="nofollow" rel="nofollow">首页</a></li>
	                <li><a target="_blank" href="/services/about.html" rel="nofollow">关于美西</a></li>
	                <li><a target="_blank" href="/services/media.html" rel="nofollow">媒体报道</a></li>
	                <li><a target="_blank" href="/services/qualityAssurance.html" rel="nofollow">正品保证</a></li>
	                <li><a target="_blank" href="/services/coop.html" rel="nofollow">业务合作</a></li>
	                <li><a target="_blank" href="/services/privacy.html" rel="nofollow">隐私声明</a></li>
	                <li><a target="_blank" href="/services/join.html" rel="nofollow">加入美西</a></li>
	                <li><a target="_blank" href="/services/sitemapBrands.html" title="美西奢侈品网站地图">网站地图</a></li>
	                <li><a target="_blank" href="/services/contacts.html" rel="nofollow">联系我们</a></li>
				</ul>
			</div>
			
			<div class="copyright">
				<p>Copyright © 2008-2016 美西时尚-<a href="/">高端时尚生活电商</a></p>
				<p><a href="#" target="_blank">沪ICP备09001221号</a></p>
			</div>
			<div class="safe_certification">
				<a href="#"><img src="/MEICI/img/safe01.png"></a>
				<a href="#"><img src="/MEICI/img/safe02.jpg"></a>
			</div>
		</div>
