<!--底部-->
		<div id="footer">
			<!--底部帮助栏-->
			<div class="help_intro">
				<div class="help_intro_guide">
					<dl class="intro_t">
						<dt>购物流程</dt>
						<dd><a href="#" target="_blank">购物流程</a></dd>
						<dd><a href="#" target="_blank">配送方式</a></dd>
					</dl>
					<dl class="intro_t">
						<dt>支付方式</dt>
						<dd><a href="#" target="_blank">如何支付</a></dd>
						<dd><a href="#" target="_blank">发票制度</a></dd>
					</dl>
					<dl class="intro_t">
						<dt>商品说明</dt>
						<dd><a href="#" target="_blank">商品尺码</a></dd>
						<dd><a href="#" target="_blank">商品包装</a></dd>
					</dl>
					<dl class="intro_t">
						<dt>客服中心</dt>
						<dd><a href="#" target="_blank">七天退换</a></dd>
						<dd><a href="#" target="_blank">常见问题</a></dd>
					</dl>
				</div>
				<div class="help_intro_hotline">
					<dl class="con_num">
						<dt>订购热线</dt>
						<dd>4000-250-630</dd>
					</dl>
				</div>
				<div class="help_intro_service">
					<dl class="service_way">
						<dt>在线客服</dt>
						<dd class="qq"><a href="#"></a></dd>
						<dd class="tel"><a href="#"></a></dd>
					</dl>
				</div>
				<div class="help_intro_focus">
					<dl class="focus">
						<dt>美西时尚APP</dt>
						<dd class="M_App"><a href="#" title="美西APP"><img src="/MEICI/img/M_App.png"></a></dd>
					</dl>
					<dl class="focus">
						<dt>关注我们</dt>
						<dd class="M_wechat"><a href="#" title="美西微信"><img src="/MEICI/img/M-wchat.png"></a></dd>
					</dl>
				</div>
			</div>
			<!--底部导航-->
			<div class="footer_nav">
				<ul class="f_nav">
					<li><a href="/" rel="nofollow" rel="nofollow">首页</a></li>
	                <li><a target="_blank" href="/services/about.html" rel="nofollow">关于美西</a></li>
	                <li><a target="_blank" href="/services/media.html" rel="nofollow">媒体报道</a></li>
	                <li><a target="_blank" href="/services/qualityAssurance.html" rel="nofollow">正品保证</a></li>
	                <li><a target="_blank" href="/services/coop.html" rel="nofollow">业务合作</a></li>
	                <li><a target="_blank" href="/services/privacy.html" rel="nofollow">隐私声明</a></li>
	                <li><a target="_blank" href="/services/join.html" rel="nofollow">加入美西</a></li>
	                <li><a target="_blank" href="/services/sitemapBrands.html" title="美西奢侈品网站地图">网站地图</a></li>
	                <li><a target="_blank" href="/services/contacts.html" rel="nofollow">联系我们</a></li>
				</ul>
			</div>
			<div class="frindly_link">
				<div class="link_con">
					<ul class="first">
						<li class="link_o"><a href="#"></a></li>
						<li class="link_t"><a href="#"></a></li>
					</ul>
					<dl class="second">
						<dt>媒体支持:</dt>
						<dd class="sina"><a href="#"></a></dd>
						<dd class="sohu"><a href="#"></a></dd>
						<dd class="meixi"><a href="#"></a></dd>
					</dl>
				</div>
			</div>
			<div class="copyright">
				<p>Copyright © 2008-2016 美西时尚-<a href="/">高端时尚生活电商</a></p>
				<p><a href="#" target="_blank">沪ICP备09001221号</a></p>
			</div>
			<div class="safe_certification">
				<a href="#"><img src="/MEICI/img/safe01.png"></a>
				<a href="#"><img src="/MEICI/img/safe02.jpg"></a>
			</div>
		</div>
