<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>2016奢侈品最新款发布,国际奢侈品新品上市-美西时尚</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common_02.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/goods_list.css" />
	</head>
	<body>
		<!--公共头部-->
		<header></header>
		<div id="main">
			<div class="main-l">
				<div class="sort">
					<dl class="menu_m_s">
	                    <dt>包袋  Bags<span>▶</span></dt>
	                    <dd><a target="_blank">手提包 Totes</a></dd>
	                    <dd><a target="_blank">单肩包 Shoulder Bags</a></dd>
	                    <dd><a target="_blank">斜挎包 Messenger Bags</a></dd>
	                    <dd><a target="_blank"></a></dd>
	                    <dd><a target="_blank"></a></dd>
	                </dl>
	                <dl class="menu_m_s">
	                    <dt>配饰 Accessories<span>▶</span></dt>
	                    <dd><a target="_blank">所有配饰</a></dd>
	                    <dd><a target="_blank">钱包 Wallets</a></dd>
	                    <dd><a target="_blank">手表 Watches</a></dd>
	                    <dd><a target="_blank">太阳眼镜 Sunglasses</a></dd>
	                    <dd><a target="_blank">饰品 Jewelry</a></dd>
	                    <dd><a target="_blank">腰带 Belts</a></dd>
	                    <dd><a target="_blank">围巾 Scarf</a></dd>
	                    <dd><a target="_blank">数码周边 Technology</a></dd>
	                    <dd><a target="_blank">小配件 Small Acc.</a></dd>
	                </dl>
	                <dl class="menu_m_s">
	                    <dt>鞋履 Shoes<span>▶</span></dt>
	                    <dd><a target="_blank">所有鞋履</a></dd>
	                    <dd><a target="_blank">平底鞋 Flat Shoes</a></dd>
	                    <dd><a target="_blank">高跟鞋 Pumps</a></dd>
	                    <dd><a target="_blank">靴子 Boots</a></dd>
	                </dl>
	                <dl class="menu_m_s">
	                    <dt>服装 Clothes<span>▶</span></dt>
	                    <dd><a target="_blank" >所有服装</a></dd>
	                    <dd><a target="_blank" >卫衣 Hoodies</a></dd>
	                    <dd><a target="_blank" >衬衫 Shirt</a></dd>
	                    <dd><a target="_blank" >针织/毛衫 Knit/Sweater</a></dd>
	                    <dd><a target="_blank" >夹克 Jacket</a></dd>
	                    <dd><a target="_blank" >大衣/风衣 Coat/Dust Coat</a></dd>
	                    <dd><a target="_blank" >半裙 Skirts</a></dd>
	                    <dd><a target="_blank" >连衣裙 Dresses</a></dd>
	                    <dd><a target="_blank" >牛仔 Denims</a></dd>
	                </dl>
				</div>  
				<div class="sort_grender">
					<dl>
						<dt><img src="/MEICI/img/goods_list/pic_gender_title.gif"></dt>
						<dd><a href="#" title="所有性别 All Genders">所有性别 All Genders</a></dd>
						<dd><a href="#" class="" title=" Man">男仕 Man</a></dd>
						<dd><a href="#" class="" title=" Woman">女士 Woman</a></dd>
						<dd><a href="#" class="" title=" boy">男童 boy</a></dd>
						<dd><a href="#" class="" title=" girl">女童 girl</a></dd>
					</dl>
				</div>
				<div class="sort_brand">
					<dl>
						<dt><img src="../img/goods_list/pic_brand_title.gif"><span>▼</span> </dt>
						<dd><a href="#" title="所有品牌 All Brands">All Brands<br />所有品牌</a></dd>
						<dd><a href="#" title="Alexander McQueen 亚历山大·麦昆">Alexander McQueen<br />亚历山大·麦昆</a></dd>
						<dd><a href="#" title="Balenciaga 巴黎世家">Balenciaga<br />巴黎世家</a></dd>
						
						<dd><a href="#" title="所有品牌 All Brands">All Brands<br />所有品牌</a></dd>
						<dd><a href="#" title="Alexander McQueen 亚历山大·麦昆">Alexander McQueen<br />亚历山大·麦昆</a></dd>
						<dd><a href="#" title="Balenciaga 巴黎世家">Balenciaga<br />巴黎世家</a></dd>
						
						<dd><a href="#" title="所有品牌 All Brands">All Brands<br />所有品牌</a></dd>
						<dd><a href="#" title="Alexander McQueen 亚历山大·麦昆">Alexander McQueen<br />亚历山大·麦昆</a></dd>
						<dd><a href="#" title="Balenciaga 巴黎世家">Balenciaga<br />巴黎世家</a></dd>
						
						<dd><a href="#" title="所有品牌 All Brands">All Brands<br />所有品牌</a></dd>
						<dd><a href="#" title="Alexander McQueen 亚历山大·麦昆">Alexander McQueen<br />亚历山大·麦昆</a></dd>
						<dd><a href="#" title="Balenciaga 巴黎世家">Balenciaga<br />巴黎世家</a></dd>
						
						<dd><a href="#" title="所有品牌 All Brands">All Brands<br />所有品牌</a></dd>
						<dd><a href="#" title="Alexander McQueen 亚历山大·麦昆">Alexander McQueen<br />亚历山大·麦昆</a></dd>
						<dd><a href="#" title="Balenciaga 巴黎世家">Balenciaga<br />巴黎世家</a></dd>
						
						<dd><a href="#" title="所有品牌 All Brands">All Brands<br />所有品牌</a></dd>
						<dd><a href="#" title="Alexander McQueen 亚历山大·麦昆">Alexander McQueen<br />亚历山大·麦昆</a></dd>
						<dd><a href="#" title="Balenciaga 巴黎世家">Balenciaga<br />巴黎世家</a></dd>
					</dl>
				</div>
				<div class="sort_price">
					<dl>
						<dt><img src="../img/goods_list/pic_price_title.gif"><span>▼</span></dt>
						<dd><a href="#" title=" ">所有价格</a></dd>
						<dd><a href="#" title="￥1000 以下">￥1000 以下</a></dd>
						<dd><a href="#" title="￥1000 - ￥2000">￥1000 - ￥2000</a></dd>
						<dd><a href="#" title="￥2000 - ￥3000">￥2000 - ￥3000</a></dd>
						<dd><a href="#" title="￥3000 - ￥5000">￥3000 - ￥5000</a></dd>
						<dd><a href="#" title="￥5000 - ￥10000">￥5000 - ￥10000</a></dd>
						<dd><a href="#" title="￥10000 - ￥20000">￥10000 - ￥20000</a></dd>
					</dl>
				</div>
				<div class="sort_color">
					<dl>
						<dt><img src="../img/goods_list/pic_color_title.gif"></dt>
						<dd><a href="#"><img src="../img/goods_list/color-01.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-02.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-03.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-04.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-05.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-06.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-07.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-08.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-09.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-10.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-11.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-12.gif"></a></dd>
						<dd><a href="#"><img src="../img/goods_list/color-13.gif"></a></dd>
					</dl>
				</div>
			</div>
			<div class="main-r">
				<div class="top">
					<dl>
						<dt>商品排序:</dt>
						<dd><a href="#">热门</a></dd>
						<dd><a href="#">新品</a></dd>
						<dd><a href="#">价格从高到低</a></dd>
						<dd><a href="#">价格从低到高</a></dd>
					</dl>
					<ul>
						<li><a>1</a></li>
						<li><a>2</a></li>
						<li><a>3</a></li>
						<li><a>4</a></li>
						<li><a>5</a></li>
						<li><a>6</a></li>
						<li><a>下一页</a></li>
					</ul>
				</div>
				<div id="goods_list">
					<!--<dl>
						<dt><a href="#"><img src="../img/goods_list/list01.jpg">
						<span><img src="../img/goods_list/list01_.jpg"></span></a></dt>
						<dd><a href="#">Michael Kors 迈克高仕 <br>牛皮 女士 两用包</a><br>
							<span>￥2900</span>
							<p>活动价￥2170.00</p>
						</dd>
					</dl>-->
				</div>
				<div class="paging">
					<ul>
						<li><a>1</a></li>
						<li><a>2</a></li>
						<li><a>3</a></li>
						<li><a>4</a></li>
						<li><a>5</a></li>
						<li><a>6</a></li>
						<li><a>下一页</a></li>
					</ul>
				</div>
			</div>
			
		</div>
		<!--公共底部-->
		<footer></footer>
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<!--<script src="/MEICI/js/index.js"></script>-->
	<script src="/MEICI/js/goods_list.js"></script>
	
</html>
