<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common_02.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/good_detail.css" />
	</head>
	<body>
		<!--公共头部-->
		<header></header>
		<!--页面主体-->
		<div id="main">
			<div class="main_top">
				<div class="mag_glass">
					<div class="left">
						<!--<button class="top"></button>-->
						<ul>
							<li><img src="../img/good_detail/s-1.jpg"></li>
							<li><img src="../img/good_detail/s-2.jpg"></li>
							<li><img src="../img/good_detail/s-3.jpg"></li>
							<li><img src="../img/good_detail/s-4.jpg"></li>
							<li><img src="../img/good_detail/s-5.jpg"></li>
							<li><img src="../img/good_detail/s-6.jpg"></li>
						</ul>
						<!--<button class="bottom"></button>-->
					</div>
					<div class="s_box">
						<img src="../img/good_detail/d-1.jpg">
						<div class="mark">
							
						</div>
					</div>
					<div class="b_box">
						<img src="../img/good_detail/b-1.jpg">
					</div>
				</div>
				<div class="txt">
					<a href="#" class="desc"><h3>Fendi 芬迪</h3></a>
					<p class="desc">女士 枚红色 皮革 手提斜挎包</p>
					<span class="desc">参考价：￥17400.00</span>
					<p class="desc m_price">美西价：￥2170.00</p>
					<p class="desc">到货时间：该商品到货时间预计3-5个工作日</p>
					<input class="buy" type="button" value="" />
					<input class="shopping_bag" type="button" value="" />
					<div class="share">
						<div class="share_zone">
							<i>分享到:</i>
							<a class="share_sina" href="javascript:sina(); void(0)" title="分享到微博"></a>
							<a class="share_weixin" href="javascript:sina(); void(0)" title="分享到微信"></a>
							<a class="share_douban" href="javascript:sina(); void(0)" title="分享到豆瓣"></a>
						</div>
						<div class="collect">
							<a href="javascript:collect(); void(0)">加入收藏<span class="num">(197)</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="main_foot">
				<ul class="good_info">
					<li class="current">商品详情</li>
					<li>商品尺寸</li>
					<li>配送及售后</li>
				</ul>
				<div class="content">
					<img src="../img/good_detail/con01.png">
				</div>
				<div class="recommend">
					<div class="rec_title">
						<h3>recommend</h3>
						<span>相关推荐</span>
					</div>
					<div class="rec_con">
						<ul>
							<li>
								<a href="javascript:void(0)">
									<img src="../img/goods_list/list03.jpg"><p>Fendi 芬迪</p><span>2JOURS 小牛皮 女士 手提包 </span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="../img/goods_list/list06.jpg"><p>Fendi 芬迪</p><span>2JOURS 小牛皮 女士 手提包 </span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="../img/goods_list/list12.jpg"><p>Fendi 芬迪</p><span>2JOURS 小牛皮 女士 手提包 </span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<img src="../img/goods_list/list07.jpg"><p>Fendi 芬迪</p><span>2JOURS 小牛皮 女士 手提包 </span>
								</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--公共底部-->
		<footer></footer>
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<script src="/MEICI/js/index.js"></script>
	<script src="/MEICI/js/good_detail.js"></script>
</html>
