<!--header-->
		<div id="header">
			<div class="headerbar">
				<ul class="headernav">
					<li id="first"><a class="login_btn" href="#">注册</a></li>
					<li><a href="#">登录</a></li>
					<li><a href="#">订单查询</a></li>
				</ul>
				<ul class="contact_infor">
					<li>客服热线：4000-250-630</li>
					<li class="focusUs" title="关注我们"><span class="focusUs_bg"></span>关注我们
						<div class="focusUs_way">
							<a class="fou_sina" href="#" >
								<dl >
									<dt><img src="/MEICI/img/fou_sina.gif"></dt>
									<dd>新浪微博</dd>
								</dl>
							</a>
							<a class="fou_wchat" href="#" >
								<dl >
									<dt><img src="/MEICI/img/fou_wechat.gif"></dt>
									<dd>美西微信</dd>
								</dl>
							</a>
						</div>
					</li>
					
				</ul>
				
			</div>
		</div>
		<!--header_top-->
		<div id="header_top">
			<dl class="app">
				<dt class="app_img">
					<a href="#"><img src="/MEICI/img/M_App.png"></a>
				</dt>
				<dd class="app_txt">
					<p>
						美西时尚App
						<span>更多精彩等你发现</span>
					</p>
				</dd>
			</dl>
			<h3 class="logo">
				<a href="#" title="美西时尚-高端时尚奢侈品购物平台" target="_blank">
					<img src="/MEICI/img/logo.png"/>
				</a>
			</h3>
			
		</div>
