<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户登录</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/login.css" />
		
	</head>
	<body>
		<!--公共头部-->
		<header>
			
		</header>
		<!--登录主体-->
		<div id="login">
			<div class="login_wel">
				<img src="../img/login/login_bg.png">
			</div>
			<div class="login_data">
				<form>
					<div class="usedata">
						<span>手机/邮箱:</span> <input type="text" />
					</div>
					<div class="pwd">
						<span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</span> <input type="password" />
					</div>
					<div class="checkbox">
						<input type="checkbox" checked="checked" /><span>下次自动登录</span><a href="javascript:void(0)" target="_blank">忘记密码?</a>
					</div>
					<div class="login_btn">
						<button type="button">登录</button>
					</div>
					<a class="register" href="javascript:void(0)">立即注册</a>
					<p></p>
				</form>
			</div>
			
		</div>
		<!--公共底部-->
		<footer>
			
		</footer>
		
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<script src="/MEICI/js/login.js"></script>
</html>
