<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单提交成功</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common_02.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/order_success.css" />
	</head>
	<body>
		<!--公共头部-->
		<header></header>
		<!--主体-->
		<div id="main">
			<img src="../img/order_success/process03.gif">
			<div class="order_success">
				<div class="success_info">
					<em class="order_info_success"></em>
					<p class="order_info_tit">您的订单已经提交成功，请尽快完成支付。</p>
				</div>
				<div class="order_info_txt">
					<p>感谢您惠顾美西时尚，以下为您的订单信息</p>
					<p>订单编号：100110612（请牢记此订单号,凭此订单号可通过“订单查询”功能来查询订单信息）</p>
					<p>订单金额：<span class="c_purple"></span></p>
				</div>
			</div>
			<div class="order_pay">
				<p class="full_payment"><input type="radio" name="pay_num">全额支付<span></span></p>
				<p class="installment"><input type="radio" name="pay_num">拆分支付<span>当前的支付账户余额不足或者超出支付限额时，请选择拆分支付。</span></p>
			</div>
			<div class="orderPay">
				<div class="payway">
					<p class="E-blank">网上银行</p>
					<p class="q_pay">选择快捷支付</p>
				</div>
				<div class="blanks">
					<ul>
						<li><img src="../img/order_success/gsyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/bjyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/fdyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/gdyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/gfyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/hzyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/jsyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/jtyh.gif"><div class="checked"></div></li>
						<li><img src="../img/order_success/msyh.gif"><div class="checked"></div></li>
					</ul>
				</div>
				<div class="platform">
					<p>支付平台</p>
				</div>
				<div class="platforms">
					<ul>
						<li><img src="../img/order_success/wx.jpg"><div class="checked"></div></li>
						<li><img src="../img/order_success/ylzx.jpg"><div class="checked"></div></li>
						<li><img src="../img/order_success/zfb.jpg"><div class="checked"></div></li>
					</ul>
					<button class="pay_btn"></button>
					<p>温馨提示 :<br>
由于48小时未付款的订单将会被系统自动取消，为了避免您的损失请您尽快完成在线或联系客服进行支付，感谢您的支持和配合。</p>
				</div>
			</div>
		</div>
		<!--公共底部-->
		<footer></footer>
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<!--<script src="/MEICI/js/index.js"></script>-->
	<script src="/MEICI/js/order_success.js"></script>
</html>
