<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			用户注册 - 奢侈品正品 Gucci 古奇, Prada 普拉达,  Burberry, 巴宝利, Miu miu 缪缪 Fendi 芬迪 时尚包包, 皮具, 钱包, 服饰等折扣特卖 - 美西时尚MEICI.COM
		</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/register.css" />
	</head>
	<body>
		<!--公共头部-->
		<header>
			
		</header>
		<!--注册主体-->
		<div id="main">
			<div class="welcome_img">
				<img src="../img/register/register_bg.png">
				<p>手机验证完成即送100元代金券</p>
			</div>
			<div class="register">
				<form>
					<p>
						<span>手机/邮箱: </span><input class="tel" type="text" value="手机注册更享好礼" 
						onfocus="if(this.value==defaultValue){this.value=''}"
						onblur="if(this.value==''){this.value=defaultValue}"
							/>
					</p>
					
					<p>
						<span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码: </span><input class="pwd" type="password" />
					</p>
					<p>
						<span>确 认密码: </span><input class="verify_pwd" type="password"/>
					</p>
					
					<p>
						<input class="checkbox" type="checkbox"  /><span class="checkbox_txt">订阅美西时尚咨询</span>
					</p>
					<p>
						<button class="register_in" type="button">注册</button>
					</p>
					<p class="login">
						已注册？<span><a href="javascript:void(0)">登录</a></span>
					</p>
					<p class="tips">
						
					</p>
				</form>
			</div>
		</div>
		<!--公共底部-->
		<footer>
			
		</footer>
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<script src="/MEICI/js/register.js"></script>
</html>
