<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common_02.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/reset_pwd_02.css" />
	</head>
	<body>
		<!--公共头部-->
		<header></header>
		<!--主体-->
		<div id="reset_main">
			<img class="img_title" src="/MEICI/img/reset_pwd/title-forgotten-password.gif">
			<img class="reset_process" src="../img/reset_pwd/bt_3.gif">
			<div class="res_data">
				<form>
					<div class="tel">
						<p>您的手机:</p><span>1111</span>
					</div>
					<div class="pwd">
						<p>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</p><input  type="password" />
					</div>
					<div class="con_pwd">
						<p>确认密码:</p><input type="password" />
					</div>
					<div class="complete">
						<button type="button">完成</button>
					</div>
					<p class="tips">
						友情提示：<br>
						为保障你的安全，新密码必须与旧密码不同，<br>
						密码最好以6位以上字符（字母、数字、符号）组成
					</p>
				</form>
			</div>
		</div>
		<!--公共底部-->
		<footer></footer>
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<script src="/MEICI/js/reset_pwd_02.js"></script>
</html>
