<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<link type="text/css" rel="stylesheet" href="/MEICI/css/common_02.css" />
		<link rel="shortcut icon" href="http://www.meici.com/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/MEICI/css/reset_pwd_03.css" />
	</head>
	<body>
		<!--公共头部-->
		<header></header>
		<!--完成-->
		<div id="succeed">
			<img class="img_title" src="/MEICI/img/reset_pwd/title-forgotten-password.gif">
			<img class="reset_process" src="../img/reset_pwd/bt_4.gif">
			<p class="tips">
				恭喜你，密码已经成功重置！您可以使用新密码登录美西时尚官网
			</p>
			<button class="login">登录</button>
		</div>
		<!--公共底部-->
		<footer></footer>
	</body>
	<script src="/MEICI/js/jquery-2.2.4.min.js"></script>
	<script src="/MEICI/js/reset_pwd_03.js"></script>
</html>
